.btn {
  margin: 10px;
}
.line {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.login {
  width: 250px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 15px auto;
  padding: 15px;
}
.login-btn {
  width: 100%;
  margin: 5px 0;
}
.wrapper {
  margin: 0 auto;
  width: 550px;
}
.custom-select {
  display: block;
  width: 150px;
  margin: 0 auto;
}
.react-datepicker-wrapper {
  margin: 5px;
}
